.landing-container {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background: linear-gradient(178.6deg, rgb(20, 36, 50) 11.8%, rgb(124, 143, 161) 83.8%) no-repeat center;
}

.landing-content {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-content h1 {
    font-size: 45px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}

.landing-content p {
    font-size: 16px;
    color: #fff;
}

/* Removing default button style */
.landing-button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* Button styling */
.landing-button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: rgb(180, 189, 196);
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: 'Arial', serif;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.landing-hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

.landing-button:hover .landing-hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
}

.landing-square {
    position: relative;
    margin: 0 10px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-square .landing-one {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
    transition: 0.5s;
    animation: landing-animate 6s linear infinite;
}

.landing-twitch:hover .landing-one {
    border: none;
    background: rgb(20, 36, 50);
}

.landing-square .landing-two {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: landing-animate 6s linear infinite;
}

.landing-twitch:hover .landing-two {
    border: none;
    background: rgb(20, 36, 50);
}

.landing-square .landing-three {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 31% 45% 74% 35% / 38% 56% 51% 37%;
    transition: 0.5s;
    animation: landing-animate2 10s linear infinite;
}

.landing-twitch:hover .landing-three {
    border: none;
    background: rgb(20, 36, 50);
}

.landing-circle {
    position: relative;
    padding: 40px 60px;
    text-align: center;
    transition: 0.5s;
    z-index: 1000;
}

.landing-square:hover {
    color: white;
}

.landing-content:hover {
    color: #ffffff;
}

@keyframes landing-animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes landing-animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.landing-DrugRadar {
    font-size: 50px;
}
