/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #303433;
} */

.loginpage-container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loginpage-main, .loginpage-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginpage-side {
    background: url(/images/login-background.png) no-repeat;
    background-size: 100% 102%;
}

.loginpage-side img {
    width: 50%;
    max-width: 50%;
}

.loginpage-login-container {
    max-width: 450px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginpage-title {
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: white;
}

.loginpage-separator {
    width: 150px;
    height: 4px;
    background-color: #843bc7;
    margin: 24px;
}

.loginpage-welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
    color: #696969;
}

.loginpage-login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loginpage-form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 90%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 5px;
    padding: 14px 14px 14px 64px;
}

input ~ i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
}

input:focus ~ i {
    color: #843bc7;
}

.loginpage-submit {
    color: #fff;
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
}

.loginpage-submit:hover {
    opacity: 0.9;
}

/* Responsiveness */
@media (max-width: 780px) {
    .loginpage-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginpage-side {
        display: none;
    }
}


.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4caf50;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
